/vs
/.vs/*
/DynamicTableCreation/.vs/*
/ExcelGeneration/.vs/*
/BulkUploadModule/obj/Debug/net7.0/BulkUploadModule.AssemblyInfoInputs.cache
/BulkUploadModule/obj/Debug/net7.0/BulkUploadModule.assets.cache
/BulkUploadModule/obj/Debug/net7.0/BulkUploadModule.csproj.AssemblyReference.cache
/BulkUploadModule/obj/Debug/net7.0/BulkUploadModule.GeneratedMSBuildEditorConfig.editorconfig
/BulkUploadModule/obj/BulkUploadModule.csproj.nuget.dgspec.json
/BulkUploadModule/obj/BulkUploadModule.csproj.nuget.g.props
/BulkUploadModule/obj/project.assets.json
/BulkUploadModule/obj/project.nuget.cache
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/DynamicTableCreation.AssemblyInfoInputs.cache
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/DynamicTableCreation.assets.cache
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/DynamicTableCreation.csproj.AssemblyReference.cache
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/DynamicTableCreation.GeneratedMSBuildEditorConfig.editorconfig
/DynamicTableCreation/DynamicTableCreation/obj/DynamicTableCreation.csproj.nuget.dgspec.json
/DynamicTableCreation/DynamicTableCreation/obj/DynamicTableCreation.csproj.nuget.g.props
/DynamicTableCreation/DynamicTableCreation/obj/project.assets.json
/DynamicTableCreation/DynamicTableCreation/obj/project.nuget.cache
/ExcelGeneration/ExcelGeneration/obj/Debug/net6.0/ExcelGeneration.AssemblyInfoInputs.cache
/ExcelGeneration/ExcelGeneration/obj/Debug/net6.0/ExcelGeneration.assets.cache
/ExcelGeneration/ExcelGeneration/obj/Debug/net6.0/ExcelGeneration.csproj.AssemblyReference.cache
/ExcelGeneration/ExcelGeneration/obj/Debug/net6.0/ExcelGeneration.GeneratedMSBuildEditorConfig.editorconfig
/ExcelGeneration/ExcelGeneration/obj/ExcelGeneration.csproj.nuget.dgspec.json
/ExcelGeneration/ExcelGeneration/obj/ExcelGeneration.csproj.nuget.g.props
/ExcelGeneration/ExcelGeneration/obj/project.assets.json
/ExcelGeneration/ExcelGeneration/obj/project.nuget.cache
/DynamicTableCreation/DynamicTableCreation/obj/DynamicTableCreation.csproj.nuget.g.targets
/BulkUploadModule/bin/Debug/net7.0
/BulkUploadModule/obj/Debug/net7.0
/DynamicTableCreation/DynamicTableCreation/bin/Debug/net6.0/runtimes
/DynamicTableCreation/DynamicTableCreation/bin/Debug/net6.0
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/ref
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/refint
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/staticwebassets
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/apphost.exe
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/DynamicTableCreation.AssemblyInfo.cs
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0
/ExcelGeneration/ExcelGeneration/bin/Debug/net6.0/runtimes
/ExcelGeneration/ExcelGeneration/bin/Debug/net6.0
/ExcelGeneration/ExcelGeneration/obj/Debug/net6.0/ref
/ExcelGeneration/ExcelGeneration/obj/Debug/net6.0/refint
/ExcelGeneration/ExcelGeneration/obj/Debug/net6.0/staticwebassets
/ExcelGeneration/ExcelGeneration/obj/Debug/net6.0
/UserService/UserService/bin/Debug/net6.0/runtimes
/UserService/UserService/bin/Debug/net6.0
/UserService/UserService/obj/Debug/net6.0/ref
/UserService/UserService/obj/Debug/net6.0/refint
/UserService/UserService/obj/Debug/net6.0/staticwebassets
/UserService/UserService/obj/Debug/net6.0
