/vs
/.vs/*
/DynamicTableCreation/.vs/*
/ExcelGeneration/.vs/*
/BulkUploadModule/obj/Debug/net7.0/BulkUploadModule.AssemblyInfoInputs.cache
/BulkUploadModule/obj/Debug/net7.0/BulkUploadModule.assets.cache
/BulkUploadModule/obj/Debug/net7.0/BulkUploadModule.csproj.AssemblyReference.cache
/BulkUploadModule/obj/Debug/net7.0/BulkUploadModule.GeneratedMSBuildEditorConfig.editorconfig
/BulkUploadModule/obj/BulkUploadModule.csproj.nuget.dgspec.json
/BulkUploadModule/obj/BulkUploadModule.csproj.nuget.g.props
/BulkUploadModule/obj/project.assets.json
/BulkUploadModule/obj/project.nuget.cache
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/DynamicTableCreation.AssemblyInfoInputs.cache
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/DynamicTableCreation.assets.cache
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/DynamicTableCreation.csproj.AssemblyReference.cache
/DynamicTableCreation/DynamicTableCreation/obj/Debug/net6.0/DynamicTableCreation.GeneratedMSBuildEditorConfig.editorconfig
/DynamicTableCreation/DynamicTableCreation/obj/DynamicTableCreation.csproj.nuget.dgspec.json
/DynamicTableCreation/DynamicTableCreation/obj/DynamicTableCreation.csproj.nuget.g.props
/DynamicTableCreation/DynamicTableCreation/obj/project.assets.json
/DynamicTableCreation/DynamicTableCreation/obj/project.nuget.cache
/ExcelGeneration/ExcelGeneration/obj/Debug/net6.0/ExcelGeneration.AssemblyInfoInputs.cache
/ExcelGeneration/ExcelGeneration/obj/Debug/net6.0/ExcelGeneration.assets.cache
/ExcelGeneration/ExcelGeneration/obj/Debug/net6.0/ExcelGeneration.csproj.AssemblyReference.cache
/ExcelGeneration/ExcelGeneration/obj/Debug/net6.0/ExcelGeneration.GeneratedMSBuildEditorConfig.editorconfig
/ExcelGeneration/ExcelGeneration/obj/ExcelGeneration.csproj.nuget.dgspec.json
/ExcelGeneration/ExcelGeneration/obj/ExcelGeneration.csproj.nuget.g.props
/ExcelGeneration/ExcelGeneration/obj/project.assets.json
/ExcelGeneration/ExcelGeneration/obj/project.nuget.cache
/DynamicTableCreation/DynamicTableCreation/obj/DynamicTableCreation.csproj.nuget.g.targets
